<footer>
    <section>
        <div class="footer-links">
            <ul>
                <li><h3>Help</h3></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Help Forum</a></li>
                <li><a href="">Tutorials</a></li>
            </ul>
            <ul>
                <li>
                    <h3>Community</h3>
                </li>
                <li><a href="">Our Community</a></li>
            </ul>
            <ul>
                <li>
                    <h3>For Us</h3>
                </li>
                <li><a href="">API</a></li>
                <li><a href="">Forum</a></li>
            </ul>
        </div>
    </section>
</footer>
<div class="copyright">
    <span>© 2023 Anshul Kumar | All rights reserved</span>
</div>