<header id="main-header" class="header">
    <div class="background-div"></div>
    <div class="header-content">
        <div class="header-logo logo">
            <a href="/">
                <img src="/img/logo.jpg" alt="">
            </a>
        </div>
        <nav class="navigation">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="/users/signup" class="sign-in" id="signin">SIGNIN</a>
            <a href="/users/login" class="cta">Create Your Blog</a>
            <div class="hamburger-container">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</header>