<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Post | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include("partials/header") %>

    <main>
        <section class="main-section">
            <header>
                <h2>Visualize your passions</h2>
                <p>Create a beautiful blog for youself</p>
                <a href="/users/login/" class="cta">Create your own blog</a>
            </header>
            <div class="background " id="main-section-background">
                <div class="first-background background-image active">
                    <img src="/img/main-section.avif" alt="">
                </div>
                <div class="second-background background-image">
                    <img src="/img/main-background-2.jpg" alt="" title="Image by senivpetro on Freepik">
                </div>
            </div>
        </section>
        <section class="design-section">
            <header>
                <h2>Unleash Your Creativity: Designing Posts, Tailoring Expression</h2>
                <p>Unleash your unique style by crafting visually stunning narratives, seamlessly blending creativity with expression. Dive into a world where design isn't just a feature—it's the heart of your storytelling adventure."</p>
            </header>
            <div class="background">
                <img src="/img/design-backgound.jpg" alt="">
            </div>
        </section>
        <section class="memories-section">
            <header>
                <h2>Showcase your Memories and Thoughts</h2>
                <p>Experience the power of sharing memories with others. Explore the depths of your mind and journey through cherished memories as we showcase the essence of your thoughts</p>
            </header>
            <div class="background">
                <img src="/img/memories2.jpg" alt="">
            </div>
        </section>
    </main>
    <%- include("partials/footer")%>
    
    <script src="/js/script.js"></script>
</body>
</html>