<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
</head>
<body>
    <div class="container bg-danger">
        <div class="row">
            <div class="col-12 p-5 bg-success">this is index</div>
        </div>
    </div>
    
</body>
</html>