<!DOCTYPE html>
<html lang="en">
<head>
    <title>BLOG Post | Services</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%-include("partials/header")%>
    
    <main>
        Services
    </main>

    <%-include("partials/footer")%>
    <%- include('partials/flashMessages') %>
    
</body>
</html>